@{
    ViewData["Title"] = "Appointments";
}
<h2>@ViewData["Title"]</h2>

<h2>View1</h2>
<form asp-controller="Provider" asp-action="RegisterAddress" method="post">

    <button type="submit">Register</button>
</form><div>
    @Html.ActionLink("Back to List", "Index")
</div>