@model BaseProject.Models.Name
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Use this area to provide additional information.</p>
<form asp-action="About" method="post">
    <input asp-for="@Model.FirstName" />
    <input type="submit" value="Submit Me" />

</form>