@{
    ViewData["Title"] = "Edit Customer";
}
@model  BaseProject.Models.Customer

<h2>Edit</h2>
<form asp-controller="Customer" asp-action="Edit" method="post">
    <input type="hidden" asp-for="CustomerID" />
    First Name:   <input asp-for="FirstName" /> <br />
    Last Name:   <input asp-for="LastName" /> <br />
    Phone:   <input asp-for="Phone" /> <br />
    Email:  <input asp-for="Email" /> <br />
    <button type="submit">Edit</button>
</form><div>
    @Html.ActionLink("Back to List", "Index")
</div>