@{
    ViewData["Title"] = "SPA Basic";
}

<body class="main">
    <h1 style="color: black; font-family: Verdana, Geneva, Tahoma, sans-serif;">Welcome to SPA Basic</h1>
    <h4 style="color: darkgrey; font-family: Verdana, Geneva, Tahoma, sans-serif">Please visit our Customer Page to register or the appointment pasge for returning customers.</h4>
</body>