@@{
    ViewData["Title"] = "Delete Provider";
}
@model  BaseProject.Models.Provider

<h2>Are you sure you want to delete @Html.DisplayFor(model=> model.FirstName)</h2>
<form asp-controller="Provider" asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProviderID" />
    <button type="submit">Delete</button>
</form><div>
    @Html.ActionLink("Back to List", "Index")
</div>